ul.games-list {
  li {
    label {
      .icon-column {
        * {
          float: left;
          height: 32px;
          width: 32px;
        }

        vertical-align: middle;
        float: left;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      span {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      display: inline-block;
      padding: 2px 4px 0 2px;
      width: 100%;
      height: 48px;
      overflow: hidden;
    }

    &:not(.enabled) {
      opacity: 0.6;
    }
    display: inline-block;
    margin: 4px;

    width: 300px;
    background: #e0e0e0;
  }
}

.show-games-toggle {
  input:not(:checked) ~ .show-games-toggle-button::after {
    content: "\25C0";
  }

  input:checked ~ .show-games-toggle-button::after {
    content: "\25BC";
  }

  .show-games-toggle-button {
    width: 16px;
    display: inline-block;
  }

  input {
    display: none;
  }

  * {
    cursor: pointer !important;
  }
}