@()(implicit request: RequestHeader)

@main("") {
    <a href="@routes.Application.logOut()">Log out</a>
    <br/>
    <a href="@routes.Application.connect()">Enter queue</a>

    <div ng-controller="GamesEditorController as editor">
        <h2 class="show-games-toggle">
            <label>
                <input class="show-games-toggle-checkbox" type="checkbox" ng-model="showGames"/>
                <span class="show-games-toggle-button"></span>
                Select games
            </label>
        </h2>

        <div ng-show="showGames">
            <div>
                Select (
                <a href="#" ng-click="editor.setAllGamesEnabled(true)">all</a>
                /
                <a href="#" ng-click="editor.setAllGamesEnabled(false)">none</a>
                )
            </div>

            <div>
                Search: <input type="search" ng-model="gameSearchTerm"/>
            </div>

            <ul class="games-list">
                <li ng-repeat="userGame in games | filter:gameSearchTerm" class="{{ userGame.enabled|if:'enabled' }}" ng-init="game=userGame.game">
                    @game(true)
                </li>
            </ul>
        </div>
    </div>
}