@(form: Form[ClientInfo])(implicit request: RequestHeader)

@import helper.{form => _, _}

@if(request.flash.data.nonEmpty) {
    <ul>
        @for((key, value) <- request.flash.data) {
            <li class="flash-@key">@value</li>
        }
    </ul>
}

<a href="@routes.SteamAuthentication.steamLogin()"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png"/></a>

@helper.form(action = routes.Application.connect()) {
    @inputText(form("name"))
    @inputText(form("games[]"))
    <input type="submit"/>
}