@()(implicit request: RequestHeader)

    @main("In Queue") {
        <div ng-controller="MatchingController">
            <div ng-show="state == 'searching'">
                <p>Searching...</p>

                <p>Current match threshold: {{searchThreshold}}%</p>
            </div>
            <div ng-show="state == 'matchFound'">
                <p>Match found!</p>

                <p>Name: {{match.name}}</p>

                <p>Games:</p>
                <ul class="games-list">
                    <li ng-repeat="game in games" class="enabled">
                        @game(editable = false)
                    </li>
                </ul>
            </div>
        </div>
    }